<div id="post-list">
    <div class= "content">
        <div class="post-info">
            <button class= "cancel" type="cancel">Cancel</button>
            <div class="info-name">
                <p>{{name}}</p>
            </div>
            <div class="info-date">
                <p>{{date}}</p>
            </div>
            <div class="info-time">
                <p>{{time}}</p>
            </div>
            <div class="info-email">
                <p>{{email}}</p>
            </div>
            <div class="info-type">
                <p>{{type}}</p>
            </div>
        </div>
    </div>      

</div>